Repository hidagent/dataagent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-core, test-server, test-cli

Path conditions:
  test-core: any of: source/dataagent-core/**/*
  test-server: any of: source/dataagent-server/**/*
  test-cli: any of: source/dataagent-cli/**/*

chore: 更新各模块版本号以反映最新功能发布
  libs/deepagents-cli/pyproject.toml
  libs/deepagents/pyproject.toml
  source/dataagent-cli/pyproject.toml
  source/dataagent-core/pyproject.toml
  source/dataagent-harbor/pyproject.toml
  source/dataagent-server-demo/pyproject.toml
  source/dataagent-server/pyproject.toml
Due: test-core, test-server, test-cli

feat(cli): 新增版本号显示功能和元数据支持
  libs/deepagents/deepagents.egg-info/PKG-INFO
  libs/deepagents/deepagents.egg-info/SOURCES.txt
  libs/deepagents/deepagents.egg-info/dependency_links.txt
  libs/deepagents/deepagents.egg-info/requires.txt
  libs/deepagents/deepagents.egg-info/top_level.txt
  libs/deepagents/deepagents/backends/__pycache__/sandbox.cpython-313.pyc
  source/dataagent-cli/dataagent_cli/__init__.py
  source/dataagent-cli/dataagent_cli/__pycache__/__init__.cpython-313.pyc
  source/dataagent-cli/dataagent_cli/__pycache__/main.cpython-313.pyc
  source/dataagent-cli/dataagent_cli/main.py
Due: test-cli

chore: 更新dataagent-cli版本号至0.3.0以反映版本显示功能
  source/dataagent-cli/pyproject.toml
Due: test-cli

fix(cli): 优化粘贴文本检测机制，改进多行代码折叠功能
  source/dataagent-cli/dataagent_cli/__pycache__/input.cpython-313.pyc
  source/dataagent-cli/dataagent_cli/input.py
Due: test-cli

chore: 更新dataagent-cli版本号至0.3.1以反映粘贴检测修复
  source/dataagent-cli/pyproject.toml
Due: test-cli

feat(server): 新增助手管理和流式聊天API，完善多模态交互能力
  .vscode/settings.json
  docs/api-reference.md
  examples/web-integration/README.md
  examples/web-integration/backend/admin-api-examples.md
  examples/web-integration/backend/curl-examples.md
  examples/web-integration/backend/python-client.py
  examples/web-integration/frontend/react-example.md
  examples/web-integration/frontend/vanilla-js/index.html
  examples/web-integration/integration-guide.md
  source/dataagent-server/dataagent_server/__pycache__/__init__.cpython-313.pyc
  source/dataagent-server/dataagent_server/__pycache__/main.cpython-313.pyc
  source/dataagent-server/dataagent_server/api/v1/__init__.py
  source/dataagent-server/dataagent_server/api/v1/__pycache__/__init__.cpython-313.pyc
  source/dataagent-server/dataagent_server/api/v1/__pycache__/assistants.cpython-313.pyc
  source/dataagent-server/dataagent_server/api/v1/__pycache__/chat_stream.cpython-313.pyc
  source/dataagent-server/dataagent_server/api/v1/assistants.py
  source/dataagent-server/dataagent_server/api/v1/chat_stream.py
  source/dataagent-server/dataagent_server/main.py
Due: test-server

chore: 更新Server相关模块版本号以反映助手管理和流式API功能
  source/dataagent-server-demo/pyproject.toml
  source/dataagent-server/pyproject.toml
Due: test-server

fix(cli): 修复终端交互界面显示问题，优化菜单导航体验
  libs/deepagents-cli/deepagents_cli/execution.py
  source/dataagent-cli/dataagent_cli/hitl.py
Due: test-cli

chore: 更新CLI模块版本号以反映终端交互修复
  libs/deepagents-cli/pyproject.toml
  source/dataagent-cli/pyproject.toml
Due: test-cli

chore: 更新核心模块版本号以反映数据库和认证系统更新
  source/dataagent-core/pyproject.toml
  source/dataagent-server-demo/pyproject.toml
  source/dataagent-server/pyproject.toml
Due: test-core, test-server

feat: 新增工作空间管理和用户隔离功能
  docs/api-reference.md
  source/dataagent-core/dataagent_core/engine/factory.py
  source/dataagent-server-demo/dataagent_server_demo/pages/4_📁_Workspaces.py
  source/dataagent-server/dataagent_server/api/v1/__init__.py
  source/dataagent-server/dataagent_server/api/v1/chat_stream.py
  source/dataagent-server/dataagent_server/api/v1/workspaces.py
  source/dataagent-server/dataagent_server/config/settings.py
  source/dataagent-server/dataagent_server/main.py
  source/dataagent-server/dataagent_server/ws/handlers.py
Due: test-core, test-server

refactor: 优化工作空间规则存储和WebSocket会话管理
  source/dataagent-core/dataagent_core/engine/factory.py
  source/dataagent-server/dataagent_server/ws/handlers.py
Due: test-core, test-server

chore: 更新版本号至0.3.1，反映MCP管理功能增强
  source/dataagent-core/pyproject.toml
  source/dataagent-server-demo/pyproject.toml
  source/dataagent-server/pyproject.toml
Due: test-core, test-server
